body {
    background-color: gainsboro;
}

.hero {
    padding-top: 50px;
    background-attachment: fixed;
    background-image: url("bg.jpg");    
}

.circular {
    border-radius: 50px; 
    background-color: black; 
    color: white;
    padding: 10px;
}

img {
    width: 400px;
    height: 370px;
}

.cta {
    font-size: 3.5rem;
    font-weight: 900;
    margin: -3PX;
    padding: -3px;
}

.data {
    background-color: gainsboro;
    margin: 50px;
    padding: 50px;
}