body {
    background-color: gainsboro;
}

.hero {
    padding-top: 50px;
    background-attachment: fixed;
    background-image: url("bg.jpg");    
}

.logo {
    width: 105px;
    height: 100px;
    margin-bottom: 50px;
}

.circular {
    border-radius: 50px; 
    background-color: black; 
    color: white;
    padding: 10px;
    margin-top: 70px;
    margin-bottom: 50px;
}

img {
    width: 400px;
    height: 370px;
}

.material-icons.md-48 { 
    font-size: 108px; 
}

.cta {
    font-size: 4.5rem;
    font-weight: 700;
    margin: -3PX;
    padding: -3px;
}

.data {
    background-color: gainsboro;
    margin: 30px;
    padding: 20px;
    border-radius: 50px;
}

.container {
    margin-bottom: 70px;
}

.sub {
    font-size: 28px;
    margin: 10px;
    padding: 1px;
}


.col p {
    font-weight: bold;
}


.blue {
    background-color: rgb(202, 228, 251);
}
.blue p {
    color: rgb(0, 70, 132);
}
.yellow {
    background-color: rgb(249, 244, 228);
}
.yellow p {
    color: rgb(255, 196, 0);
}
.green  {
    background-color: rgb(213, 251, 202);
}
.green p {
    color: rgb(0, 132, 7);
}
.red {
    background-color: rgb(251, 202, 202);;
}
.red p {
    color: rgb(255, 0, 0);;
}
.pink {
    background-color: rgb(251, 202, 248);
}
.pink p {
    color: rgb(255, 0, 238);
}
.purple {
    background-color: rgb(229, 202, 251);
}
.purple p {
    color: rgb(140, 0, 255);
}